<div id="caixa-menu-principal" class="azul">
	<header>
		<h2>Programação Linear</h2>
		<h3>Implementação do Algoritmo Simplex</h3>
		<hr />
	</header>
	<article>
		<nav>
			<%= link_to "Novo", programa_linear_index_path %> |
			<%= link_to "Abrir Exemplo", programa_linear_abrir_exemplo_path %>
		</nav>
	</article>
</div>

<footer>
		<ul>
			
		</ul>
</footer>




